
<div class="detail" style="background-image: url({{movie.image}});   background-size: cover;
">
  <h1>{{movie.title}}</h1>
<hr>
<h2>Written by: {{movie.director}}</h2>
<p>Summary: {{movie.description}}</p>
<img src="{{movie.image}}" width="450px"/>

<hr>
</div>
<a href="/movies">Back</a>